body {
	background-color: "golden-rod";
}

.game-box {
	font-size: 150px;
	border: 1px solid black;
	line-height: 0px;
}

.outer {
 	display: table-cell;
    vertical-align: middle;
}

.inner {
	width: 100%;
	text-align: center;
}

.game {
	width: 50%;
}

@media(max-width:1100px) {
	.game-box {
		font-size: 50px;
	}
}

@media(max-width:600px) {
	.game {
		width: 75%;
	}
	.game-box {
		font-size: 25px;
	}
}